:root {
    --header-color: wheat;
    --body-color: #200c38;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    /* max-width: 1200px; */
    background: var(--body-color);
    font-family: sans-serif;
}

nav {
    background: var(--header-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul li {
    list-style-type: none;
    margin-inline: 10px;
}

nav ul li a {
    text-decoration: none;
}

.contrast-social {
    display: flex;
    justify-content: space-between;
}

/* .contrast-list {
    background: #fff;
    margin-left: 40px;
    border: 1px solid gray;
} */

#contrast-btn-area {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #fff;
    border-radius: 50px;
    transition: all .5s ease-in-out;
    width: 88px;
}

.contrast-btn {
    margin: 7px;
}

.contrast-btn:hover {
    transition: all .5s ease-in-out;
    background: #eee;
    margin: 0;
    padding: 7px 14px;
    border-radius: 50px;
}

#list-item {
    margin-right: 50px;
}

#list-item a {
    display: flex;
    align-items: center;
}

.container-2 {
    margin-block: 30px;
    color: #fff;
}
.row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-inline: 50px;
}

.col {
    height: 100vh;
}

.col-1 {
    width: 10vw;
}

.col-2 {
    width: 20vw;
}

.col-2- {
    width: 28vw;
}

.col-3 {
    width: 30vw;
}

.col-4 {
    width: 40vw;
}

.col-5 {
    width: 50vw;
}

.col-4- {
    width: 41.85vw;
}

.col-6 {
    width: 60vw;
}

.col-7 {
    width: 70vw;
}

.col-8 {
    width: 80vw;
}

.col-9 {
    width: 90vw;
}

.col-10 {
    width: 100vw;
}

.col-mid {
    border-inline: .1px solid rgba(189, 184, 184, 0.194);
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
    /* border-radius: 15px; */
    display: flex;
    flex-direction: column;
}

.twitter {
    /* padding-top: 50px; */
}

.item {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-block: 25px;
}

.item p {
    margin-left: 10px;
}

.item p a {
    text-decoration: none;
    color: #fff;
}

.item img {
    color: #fff;
}

.uppder-mid {
    display: flex;
    align-items: center;
}

.col-mid .arrow-left img {
    width: 35px;
    margin-right: 50px;
    margin-left: 20px;
}

.victor-name h3 {
    font-weight: 500;
    font-size: x-large;
}

.victor-name p {
    font-weight: 100;
    /* font-size: x-large; */
}

.victor-images {
    margin-top: 10px;
    height: 300px;
}

.victor-images .img-2 {
    border-radius: 50%;
    border: 5px solid var(--body-color);
    width: 150px;
    position: relative;
    bottom: 80px;
    left: 15px;
}

.edit-btn {
    padding: 10px 20px;
    border-radius: 50px;
    border: 1px solid gray;
    font-size: medium;
    font-weight: 600;
    background: #200c38;
    color: #fff;
    transition: all .2s ease;
    position: relative;
    left: 300px;
    bottom: 116px;
}

.edit-btn:hover {
    background: #290b4d;
}

.user-name {
    margin-left: 20px;
}

.user-info {
    margin-left: 20px;
    margin-top: 25px;
}

.user-info p {
    font-weight: 200;
}

.p-top {
    margin-top: 20px;
}

.d-o-b-area {
    margin-block: 18px;
    display: flex;
    align-items: center;
}

.d-o-b {
    display: flex;
    align-items: center;
}

.d-o-b img {
    margin-right: 8px;
    width: 20px;
}

.d-o-b-2 {
    margin-left: 15px;
}

.media-nav {
    margin-top: 25px;
    /* padding-inline: 35px; */
    display: flex;
    justify-content: space-between;
    border-bottom: .1px solid rgba(189, 184, 184, 0.194);
}

.media-nav p {
    padding-inline: 5px;
    padding-block: 20px;
    width: 20%;
    text-align: center;
}

.media-nav p:hover {
    /* border-bottom: 4px solid blue; */
    background: #290b4d;
}

.media-nav p:active {
    border-bottom: 4px solid blue;
}

.post-container:hover {
    background: #290b4d;
}

.repost {
    display: flex;
    align-items: center;
    padding-left: 43px;
    margin-block: 8px;
}

.repost img {
    width: 20px;
}

.repost p {
    margin-left: 12px;
    font-size: 13px;
}

.post-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-inline: 15px;
    cursor: pointer;
}

.post-area-details {
    display: flex;
    align-items: center;
}

.post-details {
    margin-left: 15px;
}

.post-1 {
    margin-top: 8px;
}

.post-area-img-1 {
    width: 50px;
    border-radius: 50%;
}

.post-area-img-2 {
    width: 30px;
}

.col-end .right-side {
    /* width: 100%; */
    height: 500px;
    border: 1px solid gray;
    margin-left: 20px;

}

.search-area {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background: #290b4d;
    border-radius: 50px;
}

.search-area img {
    width: 25px;
    margin-right: 25px;
}

.search-area input {
    height: 30px;
    width: 300px;
    background: #290b4d;
    border: none;
    caret-color: gray;
    font-size: medium;
}

.search-area input:focus {
    outline: none;
}

.images {
    border-radius: 25px;
    overflow: hidden;
    margin-top: 20px;
    border-bottom: .5px solid rgba(189, 184, 184, 0.194);
}

.images img {
    width: 32.5%;
    height: 115px;
}