:root {
    --header-color: wheat;
    --body-color: #200c38;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    /* max-width: 1200px; */
    background: var(--body-color);
}

nav {
    background: var(--header-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul li {
    list-style-type: none;
    margin-inline: 10px;
}

nav ul li a {
    text-decoration: none;
}

.contrast-social {
    display: flex;
    justify-content: space-between;
}

/* .contrast-list {
    background: #fff;
    margin-left: 40px;
    border: 1px solid gray;
} */

#contrast-btn-area {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #fff;
    border-radius: 50px;
    padding: 7px 3px;
    transition: all .5s ease-in-out;
}

.contrast-btn:hover {
    transition: all .5s ease-in-out;
    background: #eee;
    margin: 0;
    padding: 7px 14px;
    border-radius: 50px;
}

#list-item {
    margin-right: 50px;
}

#list-item a {
    display: flex;
    align-items: center;
}

.container-2 {
    margin-block: 30px;
    color: #fff;
}
.row {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.col {
    padding: 10px;
    height: 100vh;
}

.col-1 {
    width: 10vw;
}

.col-2 {
    width: 20vw;
}

.col-3 {
    width: 30vw;
}

.col-4 {
    width: 40vw;
}

.col-5 {
    width: 50vw;
}

.col-6 {
    width: 60vw;
}

.col-7 {
    width: 70vw;
}

.col-8 {
    width: 80vw;
}

.col-9 {
    width: 90vw;
}

.col-10 {
    width: 100vw;
}

.col-mid {
    border-inline: 1px solid rgba(189, 184, 184, 0.361);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 15px;
}

.col-start {
    padding-top: 50px;
}

.item {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-block: 25px;
}

.item p {
    margin-left: 10px;
}

.item img {
    color: #fff;
}